<a class="hkb_business hkb_alignment_top">
    <div class="business_pic"><img src="<%= picture %>"></div>
    <div class="business_content">
        <div class="name"><%= name %></div>
        <div class="star">
            <!-- 全星星 star_on;半星星 star_half;吴星星 star_off-->
            <span class="star_on"></span>
            <span class="star_on"></span>
            <span class="star_on"></span>
            <span class="star_half"></span>
            <span class="star_off"></span>
        </div>
        <div class="hkb_alignment_center">
            <div><span class="sort"><%= category %></span><span class="buy">已购<span><%= times %></span>次</span></div>
            <div class="distance"><%= distance %></div>
        </div>
        <div class="discount"><img src="../../images/nearby_good.png"><%= discount%></div>
    </div>
</a>