
<%-include('./hkb_nearby_list/nearby_1_nav.ejs')%>

<div class="nearby_list">
    <%-include('./hkb_nearby_list/nearby_2_business.ejs',{
    'name':'合村日本料理(虹桥路店)文案文案文案文案文案文案文案文案文案文案文案文案',
    'picture':'../../images/merchant_test1.jpg',
    'category':'美食',
    'times':'100',
    'distance':'19.34km',
    'discount':'进店先购卡再消费更多优惠'
    })%>

    <%-include('./hkb_nearby_list/nearby_2_business.ejs',{
    'name':'海底捞火锅(华山路店)',
    'picture':'../../images/merchant_test2.jpg',
    'category':'美食',
    'times':'237',
    'distance':'1.34km',
    'discount':'进店先购卡再消费更多优惠'
    })%>

    <%-include('./hkb_nearby_list/nearby_2_business.ejs',{
    'name':'蟹的岡田屋(太平洋百货店)',
    'picture':'../../images/merchant_test3.jpg',
    'category':'美食',
    'times':'4288',
    'distance':'234m',
    'discount':'进店先购卡再消费更多优惠'
    })%>

    <%-include('./hkb_nearby_list/nearby_2_business.ejs',{
    'name':'云海肴云南菜(美罗城店)',
    'picture':'../../images/merchant_test4.jpg',
    'category':'美食',
    'times':'100',
    'distance':'19.34km',
    'discount':'进店先购卡再消费更多优惠'
    })%>

    <%-include('./hkb_nearby_list/nearby_2_business.ejs',{
    'name':'合村日本料理(虹桥路店)文案文案文案文案文案文案文案文案文案文案文案文案',
    'picture':'../../images/merchant_test1.jpg',
    'category':'美食',
    'times':'100',
    'distance':'19.34km',
    'discount':'进店先购卡再消费更多优惠'
    })%>

    <%-include('./hkb_nearby_list/nearby_2_business.ejs',{
    'name':'合村日本料理(虹桥路店)文案文案文案文案文案文案文案文案文案文案文案文案',
    'picture':'../../images/merchant_test1.jpg',
    'category':'美食',
    'times':'100',
    'distance':'19.34km',
    'discount':'进店先购卡再消费更多优惠文案文案文案文案文案文案文案文案文案文案文案文案'
    })%>


</div>

<%-include('./hkb_nearby_list/nearby_3_end.ejs')%>



    <%-include('./hkb_nearby_prompt/nearby_prompt_1_sort.ejs')%>
